<div>
  <h1>User info</h1>
  <div>
    <%= image_tag user.get_profile_image(100, 100) %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">name</th>
          <th><%= user.name %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="col">introduction</th>
          <th><%= user.introduction %></th>
        </tr>
      </tbody>
    </table>
  </div>
  <%= link_to edit_user_path(user), class: "btn btn-outline-dark btn-block" do %>
    <i class="fa-solid fa-user-gear"></i>
  <% end %>
  <h1>New book</h1>
  <%= form_with model: book do |f| %>
    <p>Title</p>
    <%= f.text_field :title, class: "form-control" %>
    <p>Opinion</p>
    <%= f.text_area :body, class: "form-control" %><br>
    <%= f.submit 'Create Book', class: "btn btn-success" %>
  <% end %>
</div>
