
<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/b7d828489d.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <!-- Brand/Logo -->
          <a class="navbar-brand" href="/">Bookers</a>

          <!-- Toggle button for mobile view -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Navbar links -->

          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <% if user_signed_in? %>
                  <li class="nav-item">
                    <%= link_to user_path(current_user.id), class: 'nav-link' do %>
                        <i class="fas fa-home"></i> Home
                    <% end %>
                </li>
                <li class="nav-item">
                    <%= link_to users_path, class: 'nav-link' do %>
                        <i class="fa-sharp fa-solid fa-users"></i> Users
                    <% end %>
                </li>
                <li class="nav-item">
                    <%= link_to books_path, class: 'nav-link' do %>
                        <i class="fa-solid fa-book-open"></i> Books
                    <% end %>
                </li>
                <li class="nav-item">
                    <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
                        <i class="fa-solid fa-right-from-bracket"></i> Log out
                    <% end %>
                </li>
              </ul>
          </div>
      </div>
          <% else %>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
              <li class="nav-item">
              <%= link_to root_path, class: 'nav-link' do %>
                  <i class="fas fa-home"></i> Home
              <% end %>
          </li>
          <li class="nav-item">
              <%= link_to about_path, class: 'nav-link' do %>
                  <i class="fa-solid fa-link"></i> About
              <% end %>
          </li>
          <li class="nav-item">
              <%= link_to new_user_registration_path, class: 'nav-link' do %>
                  <i class="fas fa-user-plus"></i> Sign up
              <% end %>
          </li>
          <li class="nav-item">
              <%= link_to new_user_session_path, class: 'nav-link' do %>
                  <i class="fas fa-sign-in-alt"></i> Log in
              <% end %>
          </li>
                  <% end %>
              </ul>
          </div>
      </div>
  </nav>
  </header>
  
  <!-- フラッシュメッセージ -->
    <div class="container mt-3">
      <% flash.each do |key, message| %>
        <div class="alert alert-<%= bootstrap_flash_class(key) %>" role="alert">
          <%= message %>
        </div>
      <% end %>
    </div>
    
    <%= yield %>

    <footer class="text-center">
      <div class="mt-5">CopyRightInfratop.inc</div>
    </footer>
  </body>
</html>
